<div class='alert alert-warning'>
  <%= f.input :codigo_titulo,  label: 'Código del Título:', as: :string, input_html: { style: ancho_input_px(130)} %>
  <div class="row">
    <div class="col-md-6">
      <%= campo_fecha(f, :fecha_snapshot, 'Fecha snapshot:', '') %>              
    </div>
  </div>
  <p>Campos clave: CODIGO_TITULO y FECHA_SNAPSHOT</p>
</div>
