<div class="row">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Parámetros de cálculo</strong></div>
      <div class="panel-body">
        <%= simple_form_for(@rm_duration) do |f|%>
          <div class="row">
            <div class="col-md-6">
              <%= campo_fecha(f, :fecha_de_estudio, 'Fecha de estudio:', 'Fecha seleccionada para efectuar el cálculo duration') %>
              <button class="btn btn-primary" type="submit">Generar</button>
            </div>
          </div>
          <br>
          <div class="alert alert-info">
            <strong>NOTA: </strong>Para el calculo del reporte se utilizan solo titulos de la cartera de negociacion que tengan precio de mercado para la fecha de estudio.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
