<% if titulos_en_cartera_que_no_existen_en_precios_mercado.present? %>
  <div class="mensaje_titulos_inexistentes">
    <h3 class="advertencia">ADVERTENCIA</h3>
    <p>
      Los siguientes títulos de la cartera indicada no poseen ningún registro en RM_PRECIOS_MERCADO.
      Para tener un VaR de portafolio acertado debe existir información registrada en RM_PRECIOS_MERCADO
    </p>          
    <ul>
      <% titulos_en_cartera_que_no_existen_en_precios_mercado.each do |codigo_titulo| %>
        <li><%= codigo_titulo %></li>              
      <% end %>
    </ul>
  </div>
<% end %>