var $select = $("#rm_simulacion_montecarlo_rm_inversion_codigo");
$select.empty(); //Limpiar options
$select.append("<option value>PORTAFOLIO</option>")
$select.append("<%= j(options_for_select(@titulos)) %>");
$('#titulos_spinner').hide();
$("#rm_simulacion_montecarlo_rm_inversion_codigo").show();
$('#montecarlo_iniciar_proceso').removeAttr('disabled');
